body {
  width: 700px;
  margin: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 150px;
  font-size: 25px;
  color: blue;
}

#AB {
  font-size: 22px;
}

#BC {
  font-size: 22px;
}

#AC {
  font-size: 22px;
}
#p {
  font-size: 22px;
}

